### Project Folders ###
target/
.mvn
.idea
logs

### Java ###
*.class

### Log files ###
*.log.gz
*.log

### IntelliJ IDEA files ###
*.iws
*.iml
*.ipr

### Package Files ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar